<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>teamID</key>
    <string>ARFSXMWT96</string>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>destination</key>
    <string>export</string>
    <key>authenticationKeyID</key>
    <string>J2XJZ5F4SU</string>
    <key>authenticationKeyIssuerID</key>
    <string>0585f51f-6b01-4b84-96b8-17d00cf0362e</string>
    <key>authenticationKeyPath</key>
    <string>/Users/eyalatiya/.appstoreconnect/private_keys/AuthKey_J2XJZ5F4SU.p8</string>
</dict>
</plist>
